{{ template "web/template/sis/sections/header" . }}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 px-1">
        <h3 class="h3 mb-0 text-gray-800">Halaman List Product</h3>
    </div>

    <!-- Content Row -->
    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <a class="btn btn-primary btn-icon-split add-new" onclick="insertAction();">
                <span class="icon text-white"><i class="fas fa-plus"></i></span>
                <span class="text">Tambah Data</span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="table"
                       data-search="true"
                       data-page-list="[5]"
                       data-pagination="true"
                       data-ajax="ajaxRequest"
                       data-show-export="true"
                       data-show-footer="true"
                       data-show-columns="true"
                       data-side-pagination="server">
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUpsert" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tambah / Edit Data Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="plu" class="col-form-label">PLU</label>
                        <input type="text" class="form-control" id="plu" required>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Nama Barang</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="barcode" class="col-form-label">Barcode</label>
                        <input type="text" class="form-control" id="barcode" value="0">
                    </div>
                    <div class="form-group">
                        <label for="ppn" class="col-form-label">Barang Kena PPN</label>
                        <select class="form-control" id="ppn">
                            <option selected>Ya</option>
                            <option value="Tidak">Tidak</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="upsertProduct">Simpan</button>
            </div>
        </div>
    </div>
</div>

<!-- /.container-fluid -->
{{ template "web/template/sis/sections/footer" . }}

<!--Load custom javascript -->
<script src="{{ .StaticUrl }}/js/utils/price_formatter.js"></script>
<script src="{{ .StaticUrl }}/js/utils/checkbox_formatter.js"></script>

<!--Load page level javascript -->
<script src="{{ .StaticUrl }}/js/sis/product/productget.js"></script>
<script src="{{ .StaticUrl }}/js/sis/product/productadd.js"></script>
<script src="{{ .StaticUrl }}/js/sis/product/productsave.js"></script>
<script src="{{ .StaticUrl }}/js/sis/product/productedit.js"></script>
<script src="{{ .StaticUrl }}/js/sis/product/productdelete.js"></script>
