{{ template "web/template/sis/sections/header" . }}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 px-1">
        <h3 class="h3 mb-0 text-gray-800">Halaman Setting Aplikasi</h3>
    </div>
    <!-- Content Row -->

    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <a class="btn btn-primary btn-icon-split add-new" onclick="insertAction();">
                <span class="icon text-white"><i class="fas fa-plus"></i></span>
                <span class="text">Tambah Data</span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="table"
                       data-search="true"
                       data-pagination="true"
                       data-show-export="true"
                       data-show-footer="true"
                       data-ajax="ajaxRequest"
                       data-show-columns="true"
                       data-page-list="[5, 10, 15, 20]">
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUpsert" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tambah / Edit Data Setting Aplikasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="id" class="col-form-label">ID</label>
                        <input type="text" class="form-control" id="id" placeholder="Silahkan masukkan id">
                    </div>
                    <div class="form-group">
                        <label for="value" class="col-form-label">Value</label>
                        <input type="text" class="form-control" id="value" placeholder="Silahkan masukkan value ">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="upsertSystemConf">Simpan</button>
            </div>
        </div>
    </div>
</div>

<!-- /.container-fluid -->
{{ template "web/template/sis/sections/footer" . }}
<script src="{{ .StaticUrl }}/js/sis/master/system_conf/systemconfget.js"></script>
<script src="{{ .StaticUrl }}/js/sis/master/system_conf/systemconfadd.js"></script>
<script src="{{ .StaticUrl }}/js/sis/master/system_conf/systemconfsave.js"></script>
<script src="{{ .StaticUrl }}/js/sis/master/system_conf/systemconfedit.js"></script>
<script src="{{ .StaticUrl }}/js/sis/master/system_conf/systemconfdelete.js"></script>
