{{ template "web/template/sis/sections/header" . }}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 px-1">
        <h3 class="h3 mb-0 text-gray-800">Halaman Update Stock</h3>
    </div>
    <!-- Content Row -->

    <div class="card shadow mb-5">
        <div class="card-body">
            <div class="table-responsive">
                <table id="table"
                       data-search="true"
                       data-pagination="true"
                       data-show-export="true"
                       data-show-footer="true"
                       data-ajax="ajaxRequest"
                       data-show-columns="true"
                       data-page-list="[5, 10, 15, 20]">
                </table>
            </div>
        </div>
    </div>
</div>

<!-- /.container-fluid -->
{{ template "web/template/sis/sections/footer" . }}
<script src="{{ .StaticUrl }}/js/sis/proses/update_stock/update_stock_get.js"></script>
<script src="{{ .StaticUrl }}/js/sis/proses/update_stock/update_stock_post.js"></script>
