<!-- Load framework javascript or third party -->
<script src="{{ .StaticUrl }}/vendor/axios/dist/axios.js"></script>
<script src="{{ .StaticUrl }}/vendor/jquery/jquery.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/popper/popper.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/jquery-loading-indicator/dist/jquery.loading-indicator.min.js"></script>

<!-- Page level javascript -->
<script src="{{ .StaticUrl }}/js/login/main.js"></script>
<script src="{{ .StaticUrl }}/js/utils/popups.js"></script>
