<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/png" sizes="96x96" rel="icon" href="{{ .StaticUrl }}/img/favicon.png">

    <!-- Load framework css or third party -->
    <link href="{{ .StaticUrl }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ .StaticUrl }}/vendor/sweetalert2/dist/sweetalert2.css" rel="stylesheet">
    <link href="{{ .StaticUrl }}/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="{{ .StaticUrl }}/vendor/jquery-loading-indicator/dist/jquery.loading-indicator.css" type="text/css" rel="stylesheet"/>

    <!-- Page level javascript -->
    <link rel="stylesheet" type="text/css" href="{{ .StaticUrl }}/css/login/util.css">
    <link rel="stylesheet" type="text/css" href="{{ .StaticUrl }}/css/login/main.css">
</head>