</div>
<!-- End of Main Content -->
</div>
<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Load framework javascript or third party -->
<script src="{{ .StaticUrl }}/vendor/axios/dist/axios.js"></script>
<script src="{{ .StaticUrl }}/vendor/jquery/jquery.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/popper/popper.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/alertifyjs/alertify.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/fontawesome/js/all.js" data-search-pseudo-elements></script>
<script src="{{ .StaticUrl }}/vendor/jquery-loading-indicator/dist/jquery.loading-indicator.min.js"></script>

<!-- Load custom javascript -->
<script type="application/javascript">
    document.getElementById("full_name").innerHTML = sessionStorage.getItem("full_name");
</script>
<script src="{{ .StaticUrl }}/js/utils/popups.js"></script>
<script src="{{ .StaticUrl }}/js/utils/sb-admin/sb-admin-2.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.js"></script>
</body>
</html>