<!DOCTYPE html>
<html lang="en">
{{ template "web/template/login/header" . }}
<body>
<p style="display: none" id="baseURL">{{ .BaseURL }}</p>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <div class="login100-form-title"
                 style="background-image: url('{{ .StaticUrl }}/img/login_background.jpg');">
					<span class="login100-form-title-1">
						LOG IN
					</span>
            </div>

            <div class="login100-form validate-form">

                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" id="user_name" name="user_name"
                           placeholder="Masukkan username" autocomplete="off" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" id="password" name="password"
                           placeholder="Masukkan password" autocomplete="off">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button id="btnLogin" class="login100-form-btn" onclick="triggerBtnLogin()">
                        Login
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
{{ template "web/template/login/footer" . }}
<div class="modal" id="modalLoading" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
        <div class="spinner-border" role="status" style="color: white;">
            <span class="sr-only" style="color: white;">Loading...</span>
        </div>
    </div>
</div>
</html>